<div class="chat__sidebar">
    <h3>People</h3>
    <div id="users"></div>
</div>

<div class="chat__main">
    <ol id="messages" class="chat__messages"></ol>

    <div class="chat__footer">
        <form id="message-form">
            <input type="text" name="message" placeholder="Enter your message..." autofocus autocomplete="off">
            <button>Send</button>
        </form>
        <button id="send-location">Send location</button>
    </div>
</div>

<script id="message-template" type="text/x-handlebars-template">
    <li class="message">
        <div class="message__title">
            <h4>\{{from}}</h4>
            <span>\{{createdAt}}</span>
        </div>
        <div class="message__body">
            <p>\{{text}}</p>
        </div>
    </li>
</script>

<script id="location-message-template" type="text/x-handlebars-template">
    <li class="message">
        <div class="message__title">
            <h4>\{{from}}</h4>
            <span>\{{createdAt}}</span>
        </div>
        <div class="message__body">
            <p><a href="\{{url}}" target="_blank">My current location</a></p>
        </div>
    </li>
</script>

